<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <script src="Scripts/Filters.js"></script>
    <link href="Styles.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        Row to Display: <input type="number" step="1" min="0" max="5" ng-model="rowlimit">
       Search: <input type="text" placeholder="search name and city" ng-model="searchText">
     <hr />
    Select a View:
     <select ng-model="employeeView">
         <option value="EmployeeTable.html">Table</option>
         <option value="EmployeeList.html">List</option>
     </select>
        <br />
        <br />
       <div ng-include="employeeView"></div>
    </div>
</body>
</html>